/* MENU */

/* 1. layout */

/* 2. signup */

/* layout start */

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 942px;
    min-height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.sa {
    opacity: 0;
    transition: all .5s ease;
}

/* header start */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5rem;
    transform: translate(-120%, 0);
    /* opacity: 0; */
    /* transition: all .5s ease; */
}

header.show {
    opacity: 1;
    transform: none;
}

#logo_div {
    display: flex;
    align-items: center;
    justify-content: left;
}

#logo1 {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #3232ff;
    color: #fff;
}

#logo1 h2 {
    margin: 0 auto;
}

#logo1 a:link, #logo1 a:visited {
    text-decoration: none;
    color: #fff;
}

#logo2 {
    margin: 1.5rem 1.5rem 1.5rem 1rem;
    font-size: 1.3rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    cursor: pointer;
    color: #44465C;
}

#logo2 a:link, #logo2 a:visited {
    text-decoration: none;
    color: #44465C;
}

.menu {
    cursor: pointer;
    color: #44465C;
    border-bottom: 2px solid #fff;
    float: left;
    margin: 1.5rem;
    font-size: .9rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    padding: .5rem 0;
}

.menu a:link, .menu a:visited {
    text-decoration: none;
    color: #44465C;
}

.sel :hover {
    color: #3232ff !important;
    border-bottom: 2px solid #3232ff;
}

#menu_5 {
    margin: 1.5rem 0 1.5rem 1.5rem;
    background-color: #3232ff;
    color: #fff;
    opacity: 1;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#menu_5:hover {
    transition: all ease .5s;
    opacity: .75;
}

#menu_5 a:link, #menu_5 a:visited {
    text-decoration: none;
    color: #fff;
}

/* header end */

/* main start */

main {
    min-height: 100%;
    position: relative;
    margin: 0 5rem;
    /* padding-bottom: 30rem; footer height */
}

/* main end */

/* footer start */

footer {
    background-color: #7bb4ff21;
    width: 100%;
    height: 30rem;
    /* position: absolute; */
    bottom: 0;
    margin-top: 7rem;
    padding-top: 5rem;
    transform: translate(120%, 0);
    /* opacity: 0; */
    /* transition: all .5s ease; */
}

footer.show {
    opacity: 1;
    transform: none;
}

/* footer_div1 start*/

#footer_div1 {
    margin: 0 5rem 5rem 5rem;
    display: flex;
    justify-content: space-between;
}

.footer_div1_title {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    color: #44465C;
    margin-bottom: 1rem;
}

#footer_div1 ul {
    list-style: none;
}

#footer_div1 ul li {
    color: #44465C;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    font-size: .85rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

#footer_div1 ul li:hover {
    font-weight: 600;
}

#footer_div1 ul li a:link, #footer_div1 ul li a:visited {
    text-decoration: none;
    color: #44465C;
}

/* footer div1 end */

footer hr {
    width: 95%;
    display: flex;
    margin: 0 auto;
    border: 1px solid #b4d5ff5d;
    /* border-color: #44465C; */
}

/* footer div2 start */

#footer_div2 {
    margin: 5rem 5rem 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer_div2_left {
    color: #44465C;
}

#footer_div2_left ul li {
    float: left;
    margin: 1rem;
    cursor: pointer;
    font-size: .85rem;
    font-family: 'Heebo', sans-serif;
}

#footer_div2_left ul li:hover {
    font-weight: 600;
}

#footer_div2_left ul li a:link, #footer_div2_left ul li a:visited {
    text-decoration: none;
    color: #44465C;
}

#footer_div2_left_logo {
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
}

#footer_div2_left_logo a:link, #footer_div2_left_logo a:visited {
    text-decoration: none;
    color: #44465C;
}

#footer_div2_center {
    font-size: .85rem;
    font-family: 'Heebo', sans-serif;
}

#footer_div2_right {
    display: flex;
}

.icons {
    padding: 1rem;
    margin: 5px;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44465C;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icons a:link, .icons a:visited {
    text-decoration: none;
    color: #fff;
}

#icon_1:hover, #icon_2:hover, #icon_3:hover {
    opacity: .75;
    transition: all ease .5s;
}

/* footer div2 end */

/* footer end */

/* layout end */

/* signup1,2 start */

#signup_div1 {
    transform: translate(120%, 0);
}

#signup_div1.show, #signup_div2.show {
    opacity: 1;
    transform: none;
}

#signup_div2 {
    transform: translate(120%, 0);
}

#signup_title1, #signup_title2 {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 2.8rem;
    color: #44465C;
    margin-top: 7rem;
    margin-left: 10rem;
}

#signup_desc1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    color: #44465C;
    margin-left: 10rem;
}

#signup_input {
    margin-top: 3rem;
    margin-left: 10rem;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: .5rem 0;
    width: 20rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
}

#signup_input:focus {
    outline: none;
}

#signup_desc2 {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    color: #44465C;
    margin-top: 1rem;
    margin-left: 10rem;
}

#signup_btn {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    color: #fff;
    background-color: #3232ff;
    margin-top: 3rem;
    margin-left: 10rem;
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#signup_btn:focus {
    outline: none;
}

#signup_usertype {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.signup_usertype_div {
    text-align: center;
    margin: 0 1rem;
    cursor: pointer;
    border: 2px solid hsla(214, 100%, 74%, 0);
    border-radius: 5px;
    padding: 3rem;
}

.signup_usertype_div:hover {
    border: 2px solid #3232ff;
    transition: all ease 1s;
}

.signup_usertype_div p {
    margin: 1rem 0;
    font-family: 'Heebo', sans-serif;
    font-size: 1.1rem;
}

.signup_usertype_div p:nth-child(3) {
    font-weight: 300;
    font-size: .85rem;
}

.signup_usertype_div p:nth-child(4) {
    font-weight: 900;
    font-size: .85rem;
    color: #3232ff;
}

.xi-user, .xi-group {
    color: #fff;
}

.signup_usertype_icon {
    background-color: #3232ff;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_usertype_title {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    color: #44465C;
}

#signup_div3{
    display: none;
    transform: translate(-120%, 0);
}

#signup_div3.show {
    opacity: 1;
    transform: none;
}

#signup_div3_div {
    background-color: #f3f3f3;
    width: 70rem;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
}

input[type="checkbox"]{
    cursor: pointer;
}

.check_label{
    cursor: pointer;
    line-height: 15px;
}

.check_label span{
    vertical-align: top;
    margin-left: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: .9rem;
}

#div3_all {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    line-height: 15px;

    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

#checkbox_01, #checkbox_02 {
    margin-top: 2rem;

}

#checkbox_01_term, #checkbox_02_term {
    height: 6rem;
    margin-top: .5rem;
    overflow-y: scroll;
    background-color: #fff;
    padding: 1rem;
}

#signup_div3_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem  auto;
}

#signup_div3_cancel, #signup_div3_next{
    min-width: 10rem;
    height: 2.5rem;
    padding: 0 1rem;
    margin: 1rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

#signup_div3_cancel:focus, #signup_div3_next:focus{
    border: none;
    outline: none;
}

#signup_div3_next{
    color: #fff;
    background-color: #3232ff;
}

/* signup1,2 end */

/* signup3 start */

#signup_div4{
    margin-top: 3rem;
}

#signup_div4_left_title{
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    margin-top: 3rem;
    color: #44465c;
}

#signup_div4_left_content{
    margin: 0 auto;
    margin-top: 3rem;
    width: 24rem;
}

#signup_div4_left p{
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    color: #44465c;
    margin-top:1rem;
}

.signup_div4_left_content_input{
    width: 22rem !important;
    height: 1rem;
    /* margin-bottom: 1rem; */
    padding: 10px;
    border: 1px solid #44465C;
    border-radius: 3px;
}

.signup_div4_left_content_input:nth-child(3){
    margin-bottom: none !important;
}

.signup_div4_left_content_input:focus{
    outline: none;
}

#check0, #check{
    margin-bottom: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: .7rem;
}

#signup_div4_next{
    width: 23.4rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #3232ff;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #3232ff;
    margin-top: 1rem;
    padding: 0;
}

#signup_div4_next:focus{
    border: none;
    outline: none;
}

/* signup3 end */

/* signup4 start */

#signup_div5_title{
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    color: #44465c;
    margin-top: 4rem;
}

#signup_div5_content{
    width: 100%;
    margin: 0 auto;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    color: #44465c;
}

.signup_div5_content_bold{
    font-weight: 500;
}

#signup_div5_next{
    width: 23.4rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #3232ff;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #3232ff;
    margin-top: 3rem;
    padding: 0;
}

#signup_div5_next:focus{
    border: none;
    outline: none;
}

/* signup4 end */

.progressbar1 {
    counter-reset: step;
    width: 13.1rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
        font-family: 'Heebo', sans-serif;
        font-weight: 300;
        font-size: .8rem;
}

.progressbar1 li {
    list-style: none;
    display: inline-block;
    width: 4.23rem;
    position: relative;
    text-align: center;
}

.progressbar1 li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height:30px;
    border: 1px solid #dadada;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    /* font-size: . */
}

.progressbar1 li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dadada;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar1 li:first-child:after {
    content: none;
}

.progressbar1 li.active {
    color: #3232ff;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: .8rem;
}

.progressbar1 li.active:before {
    border-color: #3232ff;
    /* background-color: #3232ff; */
}
/* 
.progressbar1 li.active+li:after {
    background-color: green;
} */

.progressbar2 {
    counter-reset: step;
    display: none;
    width: 13.1rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
        font-family: 'Heebo', sans-serif;
        font-weight: 300;
        font-size: .8rem;
}

.progressbar2 li {
    list-style: none;
    display: inline-block;
    width: 4.23rem;
    position: relative;
    text-align: center;
}

.progressbar2 li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height:30px;
    border: 1px solid #dadada;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    /* font-size: . */
}

.progressbar2 li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dadada;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar2 li:first-child:after {
    content: none;
}

.progressbar2 li.active {
    color: #3232ff;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: .8rem;
}

.progressbar2 li.active:before {
    border-color: #3232ff;
    /* background-color: #3232ff; */
}
/* 
.progressbar2 li.active+li:after {
    background-color: green;
} */

.progressbar3 {
    counter-reset: step;
    display: none;
    width: 17.6rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: .8rem;
}

.progressbar3 li {
    list-style: none;
    display: inline-block;
    width: 4.23rem;
    position: relative;
    text-align: center;
}

.progressbar3 li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height:30px;
    border: 1px solid #dadada;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    /* font-size: . */
}

.progressbar3 li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dadada;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar3 li:first-child:after {
    content: none;
}

.progressbar3 li.active {
    color: #3232ff;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: .8rem;
}

.progressbar3 li.active:before {
    border-color: #3232ff;
    /* background-color: #3232ff; */
}
/* 
.progressbar3 li.active+li:after {
    background-color: green;
} */

.progressbar4 {
    counter-reset: step;
    /* display: none; */
    width: 17.6rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
        font-family: 'Heebo', sans-serif;
        font-weight: 300;
        font-size: .8rem;
}

.progressbar4 li {
    list-style: none;
    display: inline-block;
    width: 4.23rem;
    position: relative;
    text-align: center;
}

.progressbar4 li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height:30px;
    border: 1px solid #dadada;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    /* font-size: . */
}

.progressbar4 li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dadada;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar4 li:first-child:after {
    content: none;
}

.progressbar4 li.active {
    color: #3232ff;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: .8rem;
}

.progressbar4 li.active:before {
    border-color: #3232ff;
    /* background-color: #3232ff; */
}
/* 
.progressbar4 li.active+li:after {
    background-color: green;
} */